.title-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:400px;
    background-color: white;
}

.title-text {
    margin: 0px
}

.content-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:625px;
    background: white;
}

.nav-links {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:625px;
    background: white;
}

.mainview {
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size:contain;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    color: #fff;
}

main {
    text-align: center;
}