.title-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:400px;
    background-color: white;
}

.title-text {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_img {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.content-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:625px;
    background: white;
}

.nav-links {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:625px;
    background: white;
}

.game-links {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:625px;
    background: white;
    table-layout: fixed;
}

.mainview {
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size:contain;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    color: #fff;
}

main {
    text-align: center;
}

body {
    background-color: #31215F;
}

* {
  box-sizing: border-box;
}

.left, .right {
  background-color: #b8a1ff;
  padding: 10px;
  float: left;
  width: 50%;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 625px) {
  .left, .right {
    width: 100%; /* The width is 100%, when the viewport is 625px or smaller */
  }
}

