.nav-links {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:625px;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

main {
    text-align: center;
}